<div class="footer__underline_border">--</div>
<ul class="footer__container">
    <li class="footer__container__item"><a href="#" class="footer__container__item__link">Danny's Fitness</a></li>
    <li class="footer__container__item"><a href="#" class="footer__container__item__link">About</a></li>
    <li class="footer__container__item"><a href="#" class="footer__container__item__link">Contact</a></li>
  </ul>
  