<ul class="nav__container">
  <li class="nav__item nav__item-DannyHome"><a href="/main" class="nav__link">Danny's Fitness</a></li>
  <li class="nav__item nav__item-Skinny"><a href="/main/fat_loss" class="nav__link">Skinny on Fat Loss</a></li>
  <li class="nav__item nav__item-Routines"><a href="/main/workouts" class="nav__link">Workout Routines</a></li>
  <li class="nav__item nav__item-Diet"><a href="#" class="nav__link">Diet</a></li>
  <li class="nav__item nav__item-Recipes"><a href="#" class="nav__link">Recipes</a></li>
</ul>