// COLOR VARIABLES
$color-primary:  #be0000; // #be0000
$color-primary-black: #000000;
$color-secondary: #fff;

$color-grey-light-1: #999;
$color-grey-dark-1: #222;

$color-red-light-1: #E35259;

$color-blue-light-1: #2986cc; //#f5f5dc #2986cc

$mt-sm: 1rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 112.5em; //1400px
$bp-large: 93.75em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //6  00px



// Keyframes 
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}   
  }


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {  
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 100vw));
}

// grid-template-rows: 9vh 180vh 40vh 10vh;