.footer {
    background-color: $color-primary-black;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &__underline_border {
        grid-row: 1 / 1;
        grid-column: 2 / 5;
        margin-top: 1rem;
        border-top: 1px solid $color-blue-light-1;
        transition: all .2s;
     }
    
    &__container {
        grid-row: 1 / -1;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        list-style: none;


        &__item {
            grid-row: 2 / 3;
            justify-self: center;    
            align-self: center;

            font-size: 1.5rem;
            font-weight: 900;
                
            &__link,
            &__visited {
                text-align: center;
                text-decoration: none;
                color: $color-blue-light-1;
                transition: all .3s;
            }

            &__link:hover,
            &__link:active {
                color: $color-secondary;
            
            }
        }

    }

}