.header {
    background-color: $color-secondary;
    grid-row: 2 / 3;
    grid-column: 1 / -1;


    &__container {
        background-color: $color-primary-black;
        display: grid;
        grid-template-rows: repeat(3, 30vh);
        grid-template-columns: repeat(3, 1fr);
        background-image: url(https://res.cloudinary.com/dkaag1sur/image/upload/v1641331472/FitnessPage/Danny_Dragon_Lair-grey_lqenmg.jpg);
        background-size: cover;
        background-position: 0rem -80rem;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;

        @media only screen and (max-width: $bp-largest) {
            background-size: cover;
            background-position: center;
            min-height: 100rem;
        }
        

        clip-path: polygon(0 0, 100% 0, 50% 100%);
        // filter: grayscale(1);
    }

    &__img {
        

        grid-column: 2 / 3;
        grid-row: 2 / 5;
        justify-self: center;
        align-self: center;
    }

    &__heading {
        margin-top: $mt-sm;
        z-index: 25;

        &-1 {
            color: $color-secondary;
            text-shadow: 1.5px 1.5px 1.5px $color-primary-black;
            grid-column: 1 / -1;
            grid-row: 1 / 3;
            justify-self: center;
            align-self: end;
            font-size: 9rem;
            font-weight: 400;

            @media only screen and (max-width: $bp-largest) {
                font-size: 6rem;
                grid-row: 3 / 4;
                max-height: 1rem;
                
            }

            // color: $color-primary;
            // text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
        }

        &-2 {
            color: $color-primary;
            grid-row: 2 / -1;
            justify-self: center;
            align-self: center;
            animation: fadeIn linear 8s;
            }
    }
}