.nav {
    background-color: $color-primary-black;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-content: center;
    align-content: end;


    &__container {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        
        height: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-content: center;
        
         
        

    }

    &__item {
        margin: 1.5rem;
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: .05rem;
        justify-content: center;
        align-content: center;

        
        @media only screen and (max-width: $bp-largest) {
            font-size: 1.5rem;
        }

        &-DannyHome {
            margin-right: auto;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-secondary;
        text-align: center;
        text-transform: uppercase;
        transition: all .5s;
    }

    &__link:hover,
    &__link:active {
        color: $color-blue-light-1

    }
}