<% layout('/layouts/boilerplate') %>
    <section class="fat_loss">
        <div class="fat_loss__items fat_loss__items-1" data-aos="fade-up" data-aos-delay="600">
            <p class="fat_loss__items-1-text">      
                Fat loss comes down to diet and exercise. But what do these mean? The fitness industry defines these very loosely and there’s different information everywhere. While I’m not fitness professional, I like doing my research. And I am a math professional :). 
                <br>
                <br>
                <br>
                My knowledge that I share will be rooted in science. Everything I present here will be based on scientific studies and you can find links to these at the bottom of the page! Give me a shout if you have questions too!
            </p>    
        </div>
        <div class="fat_loss__items-img fat_loss__items-img-1" data-aos="fade-up" data-aos-delay="600"></div>
        
        <div class="fat_loss__items fat_loss__items-2" data-aos="fade-up" data-aos-delay="600">
            <p class="fat_loss__items-2-text">
                Firstly, when losing weight, aim to be in what’s called a Calorie Deficit. 
                <br>
                <br>
                <br>
                What is this? Basically, it means you’re going to be eating less calories than you burn in a day. Typically, this looks like somewhere between 2,000 and 2,700 calories for men and 1,500 and 2,200 calories for women. A 500-calorie deficit (you eat 500 calories less than you burn) per day should result in about a pound of fat-loss per week.
                <br>
                <br>
                <br>
                The one tried and true method for knowing you’re in a calorie deficit is using a scale. If you see that you are indeed dropping about a pound in weight per week, then congratulations. You’re in a calorie deficit!
 

            </p>   
        </div>
        <div class="fat_loss__items-img fat_loss__items-img-2" data-aos="fade-up" data-aos-delay="600"></div>

        <div class="fat_loss__items fat_loss__items-3" data-aos="fade-up" data-aos-delay="600">
            <p class="fat_loss__items-3-text">
                When gaining muscle. Aim for a <b>Calorie Surplus</b>
            </p>
        </div>
        <div class="fat_loss__items-img fat_loss__items-img-3" data-aos="fade-up" data-aos-delay="600"></div>

        <div class="fat_loss__items fat_loss__items-4" data-aos="fade-up" data-aos-delay="600">
            <p class="fat_loss__items-4-text">
                Calorie deficit is eating less calories than you burn
            </p>
        </div>
        <div class="fat_loss__items-img fat_loss__items-img-4" data-aos="fade-up" data-aos-delay="600"></div>

        <div class="fat_loss__items fat_loss__items-5" data-aos="fade-up" data-aos-delay="600">
            <p class="fat_loss__items-5-text">
                Calorie surplus is eating more calories than you burn
            </p>
        </div>
        <div class="fat_loss__items-img fat_loss__items-img-5" data-aos="fade-up" data-aos-delay="600"></div>

        <div class="fat_loss__items fat_loss__items-6" data-aos="fade-up" data-aos-delay="200">
            <p class="fat_loss__items-6-text">
                Also, look to weight train to either build muscle or retain it.
            </p>
        </div>
        <div class="fat_loss__items-img fat_loss__items-img-6" data-aos="fade-up" data-aos-delay="600"></div>
    </section>
