<% layout('/layouts/boilerplate') %>

<section class="fat_loss fat_loss__container">
    <div class="fat_loss__items">
        <div class="fat_loss__items fat_loss__items-1">
            <p class="fat_loss__items-1-text">
                Fat loss comes down to diet and exercise. But what do these mean?
            </p>
        </div>
        <div class="fat_loss__items fat_loss_items-2 fade-in">
            <p class="fat_loss__items-2-text">
                When losing weight. Aim for a <b>Calorie Deficit</b>
            </p>
        </div>
        <div class="fat_loss__items fat_loss_items-3">
            <p class="fat_loss__items-3-text">
                When gaining muscle. Aim for a <b>Calorie Surplus</b>
            </p>
        </div>
        <div class="fat_loss__items fat_loss_items-4">
            <p class="fat_loss__items-4-text">
                Calorie deficit is eating less calories than you burn
            </p>
        </div>
        <div class="fat_loss__items fat_loss_items-5">
            <p class="fat_loss__items-5-text">
                Calorie surplus is eating more calories than you burn
            </p>
        </div>
        <div class="fat_loss__items fat_loss_items-6">
            <p class="fat_loss__items-4-text">
                Also, look to weight train to either build muscle or retain it.
            </p>
        </div>
    </div>
</section>
