<% layout('/layouts/boilerplate') %>
<% layout('/layouts/boilerplate') %>

<header class="header">
    <div class="header__container">
        <h3 class="header__heading header__heading-1">The secret is...</h3>
        <div class="header__img"></div>
    </div>
</header>

<div class="main_filler">
    <div class="main_filler__box">
        <p class="main_filler__box-text">There is no secret. Just consistency.</p>
    </div>
</div>