<% layout('/layouts/boilerplate') %>
<section class="workouts">

<h2 class="workouts__heading-2 ">Not sure where to start?</h2>

<h3 class="workouts__heading-3">Check the beginner routine down below and set up your own schedule and mix match exercises as you see fit</h3>

<div class="workouts__cards" data-aos="fade-up" data-aos-delay="600">
    <div class="workouts__cards__card workouts__cards__card-1">
        <h4>Legs/Shoulders</h4>
        <div class="workouts__cards__card-body workouts__cards__card-body-1"></div>
    </div>
    <div class="workouts__cards__card workouts__cards__card-2">
        <h4>Chest/Back</h4>
        <div class="workouts__cards__card-body workouts__cards__card-body-2"></div>
    </div>
    <div class="workouts__cards__card workouts__cards__card-3">
        <h4>Biceps/Triceps</h4>
        <div class="workouts__cards__card-body workouts__cards__card-body-3"></div>
    </div>
</div>


</section>